<div class="container text-center" id="error">
    <div id="checkmate"></div>
    <h1>404 error - page not found</h1>
    <h2 class="mt-4 mb-5">I am sorry, but the page that You are looking for cannot be found.</h2>
    <div><a class="mt-5 p-2" href="/">Click here to return back to the home page</a></div>
</div>