<div id="main-content">    	
    	<div class="container">
    		<form action="/api/users" method="POST">
    			<div class="row">
    				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="credentials">
	    				<label for="username">Username:&nbsp;</label>
	    				<input type="text" id="username" name="username">
	    			</div>
	    			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ml-1" id="credentials">
	    				<label for="password">Password:&nbsp;</label>
	    				<input type="password" id="password" name="password"><br>
	    			</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="credentials"><div class="mr-5" id="register"></div></div>
					<script>register({{register}})</script>
	    			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="credentials">
	    				<button type="submit" value="Add User" id="credentials">Submit</button>
	    			</div>
	    			
    			</div>    			  		
    		</form>
    	</div>
    </div>