<div class="container text-center" id="error">
    <div id="checkmate"></div>
    <h1>An error has occured!</h1>
    <h2 class="mb-5 mt-4" id="message">{{error.msg}}</h2>
    <div><a class="mt-4 p-2" href="{{error.url}}">Click here to return back to the previous page</a></div>
</div>